
# Directory config files
.DS_Store

# Notes document
notes.txt

# Terraform state files
.terraform.lock.hcl
.terraform/
terraform.tfstate
terraform.tfstate.backup
main.tf
variables.tf

# AWS scripts that were automatically created (custom to each run)
s3_upload.py
s3_download.py
docker_image_create_and_upload.py

# Not pushing the dockerfile in the root directory
Dockerfile

# virtual environment
venv/

# Data
data_s3_upload/ARTIS_model_code/*
data_s3_upload/model_inputs/*
!data_s3_upload/ARTIS_model_code/.gitkeep
!data_s3_upload/model_inputs/.gitkeep

outputs*/

docker_image_files/

# R files
.Rhistory
.Rproj.user

# rendered README
README.html

# rendered docs/ files
docs/*.html
docs/*_files/*

# Positron preview files
README_files/*


