
# Directory config files
.DS_Store

# Notes document
notes.txt

# Terraform state files
.terraform.lock.hcl
.terraform/
terraform.tfstate
terraform.tfstate.backup

# Not pushing the dockerfile in the root directory
Dockerfile

# virtual environment
venv/

# Data
model_inputs/
outputs/